@foreach (var item in ViewBag.all_data_config)
{
    if (item.on_say_customer == true)
    {



<div class="client-slider wow fadeInUp">
    <div class="container">
        <div class="theme-title">
            <h2 title="@item.title_block_comment_customer ">@item.title_block_comment_customer</h2>
        </div>
        <!-- /.theme-title -->
        <div class="row">
            <div id="customer_stay">


                @if (item.on_block_say_customer1 == true)
                {
                <div class="item">
                    <div class="single-container">
                        <div class="client-info clear-fix">
                            <img src="@item.images_customer_1" alt="customer" class="float-left">
                            <div class="name float-left">
                                <h5>@item.name_customer_say1</h5>
                                <p>@item.company_customer_say1</p>
                            </div>
                        </div>
                        <!-- /.client-info -->
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <div class="text">
                            <div class="quote p-color-bg"><span class="ficon flaticon-left-quote"></span></div>
                            <p>@item.content_customer_say1</p>
                        </div>
                        <!-- /.text -->

                    </div>
                    <!-- /.single-container -->
                </div>
                }



                @if (item.on_block_say_customer2 == true)
                {
                    <div class="item">
                        <div class="single-container">
                            <div class="client-info clear-fix">
                                <img src="@item.images_customer_2" alt="customer" class="float-left">
                                <div class="name float-left">
                                    <h5>@item.name_customer_say2</h5>
                                    <p>@item.company_customer_say2</p>
                                </div>
                            </div>
                            <!-- /.client-info -->
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <div class="text">
                                <div class="quote p-color-bg"><span class="ficon flaticon-left-quote"></span></div>
                                <p>@item.content_customer_say2</p>
                            </div>
                            <!-- /.text -->

                        </div>
                        <!-- /.single-container -->
                    </div>
                }





                @if (item.on_block_say_customer3 == true)
                {
                    <div class="item">
                        <div class="single-container">
                            <div class="client-info clear-fix">
                                <img src="@item.images_customer_3" alt="customer" class="float-left">
                                <div class="name float-left">
                                    <h5>@item.name_customer_say3</h5>
                                    <p>@item.company_customer_say3</p>
                                </div>
                            </div>
                            <!-- /.client-info -->
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <div class="text">
                                <div class="quote p-color-bg"><span class="ficon flaticon-left-quote"></span></div>
                                <p>@item.content_customer_say3</p>
                            </div>
                            <!-- /.text -->

                        </div>
                        <!-- /.single-container -->
                    </div>
                }




                @if (item.on_block_say_customer4 == true)
                {
                    <div class="item">
                        <div class="single-container">
                            <div class="client-info clear-fix">
                                <img src="@item.images_customer_4" alt="customer" class="float-left">
                                <div class="name float-left">
                                    <h5>@item.name_customer_say4</h5>
                                    <p>@item.company_customer_say4</p>
                                </div>
                            </div>
                            <!-- /.client-info -->
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <div class="text">
                                <div class="quote p-color-bg"><span class="ficon flaticon-left-quote"></span></div>
                                <p>@item.content_customer_say4</p>
                            </div>
                            <!-- /.text -->

                        </div>
                        <!-- /.single-container -->
                    </div>
                }





                @if (item.on_block_say_customer5 == true)
                {
                    <div class="item">
                        <div class="single-container">
                            <div class="client-info clear-fix">
                                <img src="@item.images_customer_5" alt="customer" class="float-left">
                                <div class="name float-left">
                                    <h5>@item.name_customer_say5</h5>
                                    <p>@item.company_customer_say5</p>
                                </div>
                            </div>
                            <!-- /.client-info -->
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <div class="text">
                                <div class="quote p-color-bg"><span class="ficon flaticon-left-quote"></span></div>
                                <p>@item.content_customer_say5</p>
                            </div>
                            <!-- /.text -->

                        </div>
                        <!-- /.single-container -->
                    </div>
                }







                @if (item.on_block_say_customer6 == true)
                {
                    <div class="item">
                        <div class="single-container">
                            <div class="client-info clear-fix">
                                <img src="@item.images_customer_6" alt="customer" class="float-left">
                                <div class="name float-left">
                                    <h5>@item.name_customer_say6</h5>
                                    <p>@item.company_customer_say6</p>
                                </div>
                            </div>
                            <!-- /.client-info -->
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <div class="text">
                                <div class="quote p-color-bg"><span class="ficon flaticon-left-quote"></span></div>
                                <p>@item.content_customer_say6</p>
                            </div>
                            <!-- /.text -->

                        </div>
                        <!-- /.single-container -->
                    </div>
                }




            </div>
            <!-- /.client-slider-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>




<script>
$(document).ready(function(){
    $('#customer_stay').owlCarousel({
				items:2,
				nav:true,
				loop: true,
				margin: 20,
				autoplay: true,
				autoplayTimeout:10000,
				pagination:true,
				responsive:{
				0:{
				items:1
				},
				768:{
				items:2
				},
				992:{
				items:2
				},
				1200:{
				items:2
				}
			}
	});
    $('#customer_stay').find('.owl-next').html("<i class='fa fa-chevron-right'></i>");
    $('#customer_stay').find('.owl-prev').html("<i class='fa fa-chevron-left'></i>");
	$(window).resize();
});
</script>


    }
}